body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.title {
    position: absolute;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(25, 14, 186);
    font-size: 25px;
    z-index: 1;
    top: -10px;
}

h1 {
    transform: translateX(130%);
}

.parent {
    background-image: url("../assets/images/map.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 0 auto;
}

.legend {
    position: absolute;
    width: 15vw;
    left: 2vw;
    bottom: 2vw;
    z-index: 1;
}

.grid-item .hk-supermarket {
    position: absolute;
    z-index: 1;
    left: 50%; 
    bottom: 33%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .bk-grocery {
    position: absolute;
    z-index: 1;
    left: 48%; 
    bottom: 26%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .raku {
    position: absolute;
    z-index: 1;
    left: 42%;
    bottom: 38%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .chodanggol {
    position: absolute;
    z-index: 1;
    left: 44%;
    bottom: 75%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .kimura {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 48%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .pranakhon {
    position: absolute;
    z-index: 1;
    left: 46.3%;
    bottom: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .dainobu {
    position: absolute;
    z-index: 1;
    left: 43.5%;
    bottom: 52%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .meilaiwah {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 29%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .jooytea {
    position: absolute;
    z-index: 1;
    left: 46%;
    bottom: 56.5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .cha-an {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 51%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .fong-on {
    position: absolute;
    z-index: 1;
    left: 51.8%;
    bottom: 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    max-width: 20%;
}

.grid-item:hover img {
    margin-top: -10px; 
}

.grid-item span {
    font-size: 12px;
    color: rgb(0, 0, 0);
    
}

.item-content span {
    display: none;
}

.kimura:hover span {
    display: block;
}

.bk-grocery:hover span {
    display: block;
}

.hk-supermarket:hover span {
    display: block;
}

.raku:hover span {
    display: block;
}

.chodanggol:hover span {
    display: block;
}

.pranakhon:hover span {
    display: block;
}

.dainobu:hover span {
    display: block;
}

.meilaiwah:hover span {
    display: block;
}

.bbq-stand:hover span {
    display: block;
}

.jooytea:hover span {
    display: block;
}

.cha-an:hover span {
    display: block;
}

.fong-on:hover span {
    display: block;
}

.popout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}

.popout-content {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #333; 
}

.popout-content .name{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    color: rgb(25, 14, 186);
    font-size: 25px;
}

.popout-content img{
    margin-top: 15px;
    max-width: 50%;
}

.close-popout {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}

.popout-content span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: rgb(25, 14, 186);
    font-size: 12px;
    margin-top: 10px;
}

.close-popout:hover {
    background-color: #555;
}

.close-popout:focus {
    outline: none;
}