body {
    margin: 0;
}

.title {
    position: absolute;
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -10px;
    transform: translateX(50%);
}

@media (min-width: 900px) {
    .title{
        transform: translateX(125%);
    }

}

.parent {
    background-image: url("../assets/images/map 2.png");
    background-size: cover;
    background-position: center;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
}

.grid-item .hk-supermarket {
    position: absolute;
    z-index: 1;
    left: 58.2%; 
    bottom: 35.2%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .bk-grocery {
    position: absolute;
    z-index: 1;
    left: 56.5%; 
    bottom: 29%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .raku {
    position: absolute;
    z-index: 1;
    left: 51%;
    bottom: 40%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .chodanggol {
    position: absolute;
    z-index: 1;
    left: 52.5%;
    bottom: 74%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .kimura {
    position: absolute;
    z-index: 1;
    left: 58%;
    bottom: 51%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .pranakhon {
    position: absolute;
    z-index: 1;
    left: 54.5%;
    bottom: 52%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .dainobu {
    position: absolute;
    z-index: 1;
    left: 52.5%;
    bottom: 54.5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .meilaiwah {
    position: absolute;
    z-index: 1;
    left: 58.5%;
    bottom: 31.5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .jooytea {
    position: absolute;
    z-index: 1;
    left: 54.5%;
    bottom: 58.5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .cha-an {
    position: absolute;
    z-index: 1;
    left: 58%;
    bottom: 53%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .fong-on {
    position: absolute;
    z-index: 1;
    left: 60.5%;
    bottom: 32.5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item-content img {
    width: 20px;
}

.grid-item:hover img {
    margin-top: -10px; 
}

.grid-item span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.item-content span {
    display: none absolute;
    white-space: nowrap; 
}

.item-content:hover span {
    display: inline-block;
}

.popout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}

.popout-content {
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #333; 
}

.popout-content .name{
    font-family: monospace;
    font-weight: 550;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.popout-content img{
    margin-top: 15px;
    max-width: 50%;
}

.close-popout {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    font-family: monospace;
}

.popout-content span {
    font-family: monospace;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-top: 10px;
}

.close-popout:hover {
    background-color: #000000;
}

.close-popout:focus {
    outline: none;
}