* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ededed;
}

.nav-bar li {
    list-style: none;
    display: inline-block;
    padding: 15px 50px;
}

.nav-bar a {
    text-decoration: none;
    font-family: 'Cutive Mono', monospace;
    color: #020b87;
    transition: all 0.3s ease 0s;
}

.nav-bar a:hover {
    color: #c0d3e0;
}


body{
    background: #020b87;
}

h1{
    color: #2E3494;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-container{
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
}

.title-container img{
    max-width: 50vw;
    transform: translateX(50%);
    padding-top: 12.5vh;
}

/* body text styling
p{
    color: #2E3494;
    font-family: 'Cutive Mono', monospace;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-container{
    margin-top: 50%;
    max-height: 50vh;
}

*/