.container{
    width: 100vw;
    height:100vh;
    background-color: #f0f0f0;
}

.parent {
    background-image: url("../assets/images/background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.title {
    margin: 0;
    background-color: #f0f0f0;
    font-family: monospace;
    color: black;
    text-align: center;
}

.paper {
    border: 2px solid black; 
    position: absolute;
}

.paper h1{
    font-family: monospace;
    color: black;
    text-align: center;
}

.paper li {
    list-style: none;
    font-family: monospace;
    color: black;
    text-align: center;
}

.popout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
    z-index: 2;
}

.popout-content {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    border: 1px solid #333;
}

.close-popout {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
}

.onions {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.onion-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
}

.onion-button img {
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.onion-button:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}

.onion-button span {
    color: transparent;
    white-space: nowrap;
    overflow: hidden; 
    text-decoration: none;
}

.rice {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.rice-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
}

.rice-button img {
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.rice-button:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}

.rice-button span {
    color: transparent;
    white-space: nowrap;
    overflow: hidden; 
    text-decoration: none;
}

.soysauce {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.soysauce-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
}

.soysauce-button img {
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.soysauce-button:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}

.soysauce-button span {
    color: transparent;
    white-space: nowrap;
    overflow: hidden; 
    text-decoration: none;
}

.vinegar {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.vinegar-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
}

.vinegar-button img {
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.vinegar-button:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}

.vinegar-button span {
    color: transparent;
    white-space: nowrap;
    overflow: hidden; 
    text-decoration: none;
}

.tofu {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.tofu-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
}

.tofu-button img {
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.tofu-button:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}

.tofu-button span {
    color: transparent;
    white-space: nowrap;
    overflow: hidden; 
    text-decoration: none;
}

@media (max-width: 400px) {
    .parent {
        height: 50vh;
        width: 95vw;
    }

    .title {
        padding-bottom: 2%;
        padding-top: 2%;
        font-weight: 500;
        font-size: 50px;
    }
    
    .paper {
        padding: 12.5px; 
        margin: 50px;
        bottom: 0;
    }
    
    .paper h1{
        font-size: 20px;
    }

    .paper li {
        font-size: 15px;
        margin: 0, 0; 
    }
    
    .popout-content {
        top: 50%;
        left: 50%;
        padding: 20px;
    }

    .close-popout {
        padding: 5px 10px;
        top: 10px;
        right: 10px;
    }

    .onions {
        bottom: 43%;
        left: 47%;
    }

    .onion-button img {
        width: 15%;
    }

    .rice {
        bottom: 69%;
        left: 40%;
    }

    .rice-button img {
        max-width: 9%; 
    }

    .soysauce {
        bottom: 34%;
        left: 60%;
    }

    .soysauce-button img {
        max-width: 10%; 
    }

    .vinegar {
        bottom: 58.2%;
        left: 62%;
    }

    .vinegar-button img {
        max-width: 30%; 
    }
     
    .tofu-button img {
        max-width: 25%; 
    }

    .tofu {
        bottom: 22%;
        left: 36%;
    }
}

@media (min-width: 900px) {
    
    .parent {
        height: 75vh;
    }

    .title {
        padding-bottom: 2%;
        padding-top: 2%;
        font-weight: 500;
        font-size: 50px;
    }
    
    .paper {
        padding: 25px; 
        margin: 50px;
    }
    
    .paper h1{
        font-size: 25px;
    }

    .paper li {
        font-weight: 200;
        font-size: 25px;
        margin: 3% 0; 
    }

    .popout-content {
        top: 50%;
        left: 50%;
        padding: 20px;
    }

    .close-popout {
        padding: 5px 10px;
        top: 10px;
        right: 10px;
    }
    
    .onions {
        bottom: 43%;
        left: 47%;
    }

    .onion-button img {
        width: 15%;
    }

    .rice {
        bottom: 69%;
        left: 40%;
    }

    .rice-button img {
        max-width: 9%; 
    }

    .soysauce {
        bottom: 34%;
        left: 60%;
    }

    .soysauce-button img {
        max-width: 13%; 
    }

    .vinegar {
        bottom: 58.2%;
        left: 62%;
    }

    .vinegar-button img {
        max-width: 13%; 
    }
    
    .tofu-button img {
        max-width: 7%; 
    }

    .tofu {
        bottom: 22%;
        left: 36%;
    }

}