@font-face {
    font-family: 'overlook';
    src: url('../assets/fonts/Overlook.otf') format('opentyoe');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: white;
    font-size: 60px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    display: flex;
    top: 10%;
    z-index: 3;
}

.parent {
    background-image: url("../assets/images/map.png");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    display: block;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

.img-container {
    position: relative;
}

.background {
    width: 100vw;
    height: 55vw;
    display: block;
    position: relative;
}

.grid-container {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: space-between;
    width: 80%; 
}

.grid-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: #333; 
}

.grid-item img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
}

.grid-item span {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(248, 248, 243);
    margin-top: 10px;
}

.popout img {
    transform: none;
}

.item-content:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}

.grid-item:nth-child(1) .popout-container {
    left: 50%;
    transform: translateX(-50%);
}

.grid-item:nth-child(2) .popout-container {
    left: 50%; /* Position it under the second image */
    transform: translateX(-50%);
}

.grid-item:nth-child(3) .popout-container {
    right: 0; /* Position it under the third image */
    transform: translateX(0);
}

.popout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
    background: none;
}


.popout-content {
    min-width: 40vw;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-popout {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 28.7%;
    right: 45%;
}

.close-popout:hover {
    background-color: #555;
}

.close-popout:focus {
    outline: none;
}

.popout-content span {
    position: absolute;
    color: black;
    font-family: 'overlook', sans-serif;
    font-size: 18px;
    line-height: 2;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.home-button {
    position: fixed;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.home-button i {
    margin-right: 5px; 
}

.home-button:hover {
    background-color: #555;
}
