body{
    background-color: white;
}
.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-container img {
    object-fit: cover;
    transition: opacity 0.3s;
}

img.image-hover {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay-button {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.img-container img,
img.image-hover {
    display: block;
    margin: 0 auto;
}

.img-container:hover img.image-hover {
    opacity: 1;
}

.img-container:hover img:first-child {
    opacity: 0;
}

.homepage-button {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    border: none;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.homepage-button i {
    margin-right: 5px;
}

@media (max-width: 400px) {
    .img-container {
        transform: translate(Y)(50%, 50%);
        height: 800px;
    }
    .img-container img {
        width: 90%; 
    }
    img.image-hover {
        width: 500px;
    }
    .overlay-button {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
  
@media (min-width: 900px) {
    .img-container {
        height: 800px;
    }
    .img-container img {
        width: 500px; 
    }
    img.image-hover {
        width: 500px;
    }
    .overlay-button {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}