@font-face {
    font-family: 'overlook';
    src: url('../assets/fonts/Overlook.otf') format('opentyoe');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sarabun-new-regular';
    src: url('../assets/fonts/TH Sarabun New Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sarabun-new-bold';
    src: url('../assets/fonts/TH Sarabun New Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

.text-container{
    max-width: 100%;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.thai{
    font-family: sarabun-new-regular, sans-serif;
}

.thai-title{
    font-family: sarabun-new-bold, sans-serif;
}

.letter-container {
    border: solid black;
    background-repeat: no-repeat;
    color: #000;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}


h1{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

ol{
    font-family: 'Courier New', Courier, monospace;
    list-style-type:circle;
}

li{
    font-family: 'Courier New', Courier, monospace;
}

.text-container.clicked {
    background-color: transparent;
}

.homepage-button {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    border: none;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.homepage-button i {
    margin-right: 5px;
}


@media (max-width: 400px) {
    body {
        min-height: 100vh;
    }
    
    .thai{
        font-size: 10px;
    }
    
    .thai-title{
        font-size: 20px;
    }
    
    .letter-container {
        width:  65%;
        height: 75%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    h1{
        font-size: 16px;
        line-height: 1;
    }
    
    h2{
        font-size: 12px;
        line-height: 2;
        padding-top: 5px;
    }
    
    h3{
        font-size: 8px;
        line-height: 2;
        margin: 0;
    }
    
    ol{
        font-size: 8px;
        line-height: 1;
        padding: 2px;
        margin: 2px 0;
        padding-left: 20px;
        column-count: 2;
        column-gap: 20px;
    }
    
    li{
        font-size: 8px;
        line-height: 1; 
        padding: 2px;
        margin: 2px 0; 
    }
}
  
@media (min-width: 900px) {
    body {
        min-height: 100vh;
    }
    
    .thai{
        font-size: 20px;
    }
    
    .thai-title{
        font-size: 25px;
    }
    
    .letter-container {
        width:  50%;
        height: 50%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    h1{
        font-size: 25px;
        line-height: 2;
    }
    
    h2{
        font-size: 20px;
        line-height: .6;
        padding-top: 5px;
    }
    
    h3{
        font-size: 15px;
        line-height: 1.9;
        margin: 0;
    }
    
    ol{
        font-size: 15px;
        line-height: .5;
        padding: 2px;
        margin: 2px 0;
        padding-left: 20px;
        column-count: 2;
        column-gap: 20px;
    }
    
    li{
        font-size: 15px;
        line-height: 1.7; 
        padding: 2px;
        margin: 2px 0; 
    }

}